
body {
    font-family: 'Teko';
    text-align: center;
    font-size: 20pt;
    margin: 0;
    padding: 0;
    background-color: darkgray;
}

header {
    background-color:darkgreen;
    padding: 10px;
}

footer {
    background-color: darkgreen;
}

footer a:hover {
    color: aqua; /* Change text color on hover */
    cursor: pointer; /* Change cursor to a pointer on hover */
}