body {
    background-color: 	#808080;
    padding: 10px;
 }
 header, footer {
    background-color: #6495ed;
    padding: 35px;
    text-align: center;
    font-size: larger;
    font-family: Arial;
    color: white;
    
 }
 main {
    background-color: #e9967a;
    width: 60%;
    height: 130px;
    float: left;
 }
 aside {
    background-color: 	#d2b48c;
    width: 40%;
    height: 130px;
    float: left;
 }
 img {
   width: auto;
   height: auto;
 }
 
