header {
   position: fixed;
   background-color: blanchedalmond;
   font-family: 'PlayfairDisplay';
   font-style: normal;
   color: black; 
   border-radius: 30px;
   text-align: left;
   margin: 10px;
   height: 3em;
   width: 98%;
   padding: 0%;
   

}

img {
   display: block;
   margin: 0 auto; /* Set left and right margins to 'auto' */
   width: 90%;
   height: 520px;
}

h3 {
   margin-top: 0; /* Remove default margin for the h3 element */
   text-align: center;
   font-family: 'PlayfairDisplay';
   font-style: normal;
}

body {
   margin: 0;
   padding: 0;
   background-color: burlywood;
   font-family: 'PlayfairDisplay';
   font-style: normal;
   border: 5px solid sienna;
   font-size: 20px;
}

.menu-item {
   display: inline-block;
   margin: 0 10;
   min-width: 8em;
   text-align: center;
   background-color: transparent; /* Set background color to transparent or another color */
   padding: 0.5em 0;
}

/* Style the links: */
.menu-item a {
   color: black;
   text-decoration: none;
   padding: 10px;
}

.menu-item:hover {
   background-color: gray;
   border-radius: 30px;
}

/* Add a dropdown feature: */
.dropdown {
   display: inline-block;
   margin: 0 10;
   min-width: 8em;
   text-align: center;
   background-color: transparent; /* Set background color to transparent or another color */
   padding: 0.5em 0;
}

.dropdown a {
   color: black;
   text-decoration: none;
}

.dropdown-content {
   display: none;
   position: absolute;
   border: 2px solid saddlebrown;
   margin: 0;
   margin-top: 0.5em;
   color: black;
   background-color: blanchedalmond; /* Set background color to transparent or another color */
   z-index: 1;
}

.dropdown-content a {
   color: black;
}

.dropdown:hover .dropdown-content {
   display: block;
}

/* Style dropdown item display: */
.dropdown-item {
   display: block;
   text-align: center;
   margin: 0;
   padding: 0.5em;
   min-width: 7em;
}

.dropdown-item:hover, .dropdown-item:hover a {
   color: black;
   background-color: #a2a2a2;
}

section {
   margin-top: 20px; /* Add margin to create space between header and main content */
   padding: 80px; /* Add padding for better visual separation */
}


p {
   margin: 0;
}


.overflow-scroll {
   overflow: scroll;
}

.overflow-hidden {
   overflow: hidden;
}

.overflow-visible {
   overflow: visible;
}

.container {
   width: 100%;
   height: 100vh; /* 100% of the viewport height */
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.inner-box {
   width: 75%;
   height: 50%;
   background-color: silver;
   color: #333;
   box-sizing: border-box; /* Include padding and borders in the total width and height */
   margin: auto; /* Center horizontally */
}